@import "style";
form {
    display: flex;
    flex-direction: column;
}
.input {
    margin-top: 1rem;
    display: grid;
    place-items: center;
}

.input input {
    font-family: "Roboto Slab", serif;
    font-size: 64px;
    color: white;
    outline: none;
    background-color: rgba(129, 129, 129, 0.459);
    border: none;
}

#contenu {
    height: 60vh;
    margin-bottom: 0;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    font-family: "Raleway", sans-serif;
    margin: 1rem;
    font-size: 20px;
    width: fit-content;
    color: white;
}
.form__contenu {
    display: flex;
    flex-direction: column;
    textarea {
        font-family: "Raleway", sans-serif;
        color: white;
        outline: none;
        background-color: rgba(129, 129, 129, 0.459);
        margin: 1rem;
        font-size: 20px;
    }
}
textarea::placeholder,
input::placeholder {
    color: white;
}

.container__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    button {
        margin: 3rem;
    }
}

button {
    font-family: "Raleway", sans-serif;
    background-color: rgba(67, 223, 223, 0.466);
    font-size: 18px;
    color: white;
    padding: 1rem;
    border: none;
}

button:hover {
    background-color: rgba(67, 223, 223, 0.856);
}
