@import "style.scss";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .container {
        display: flex;
        flex-direction: column;

        label {
            font-size: 26px;
            font-family: "Roboto Slab", serif;
            margin-bottom: 2rem;
        }
        input {
            font-size: 20px;
            background: rgba(255, 255, 255, 0.541);
            border: none;
            padding: 1rem;
            outline: none;
        }
    }

    button {
        background: #5ffbf18e;
        font-size: 26px;
        font-family: "Roboto Slab", serif;
        padding: 1rem;
        border: none;
        box-shadow: 0 20px 20px rgba($color: #000000, $alpha: 0.3);
        &:hover {
            background: #5ffbf1;
            box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.3);
            transition: all 300ms ease-out;
        }
    }
}
